OPENAI_API_KEY=
OPENAI_GENERATION_MODEL=gpt-4o
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=genpal-prototype

USE_MOCK_DATA=true
DUPLICATE_SIMILARITY_THRESHOLD=0.85

APP_PASSWORD=
